<!DOCTYPE html>
<html>
<head>
<style>

.wrapper {
    text-align: center;
}


.button {
  border: none;
  color: white;
  width: 900px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 25px;
 margin: 10px 5px 15px 20px;
  padding: 15px 32px;
  cursor: pointer;
margin-left: auto;
    margin-right: auto;
}

.button {background-color: #008CBA;} /* Blue */
</style>
</head>
<body>

<h1>Entry Page</h1>

<div class="wrapper">

<a href='http://127.0.0.1:8000/rental/details/2/'>
<button type="submit" class="button button1">Equipment</button>
</a>
<a href='http://127.0.0.1:8000/rental/job_details/1/'>
    <button class="button button2">Jobs</button></a>
<a href='http://127.0.0.1:8000/rental/vendor_details/1/'>
    <button class="button button2">Vendors</button></a>
<button class="button button2">Orders</button>
<button class="button button2">Invoices</button>
<button class="button button2">Return Slips</button>
<button class="button button2">Categories</button>
<button class="button button2">Reports</button>
</div>
</body>
</html>