<!DOCTYPE html>
<html>
<head>
<style>

.wrapper {
    text-align: center;
}


.button {
  border: none;
  color: white;
  width: 900px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 25px;
 margin: 10px 5px 15px 20px;
  padding: 15px 32px;
  cursor: pointer;
margin-left: auto;
    margin-right: auto;
}

.button {background-color: #008CBA;} /* Blue */
</style>
</head>
<body>
<style>
 h2 {
  position: absolute;
  right: 15px;
  top: 10px;
}
</style>
<h1>Entry Page</h1>
<h2 style="text-align:right">Hi {{ user.username }}</h2>
  <p style="text-align:right"><a href="{% url 'logout' %}">Log Out</a></p>

<div class="wrapper">

<a href='http://127.0.0.1:8000/rental/details/2/'>
<button type="submit" class="button button1">Equipment</button>
</a>
<a href='http://127.0.0.1:8000/rental/job_details/1/'>
    <button class="button button2">Jobs</button></a>
<a href='http://127.0.0.1:8000/rental/vendor_details/1/'>
    <button class="button button2">Vendors</button></a>
    <a href='http://127.0.0.1:8000/rental/order_details/1/'>
        <button class="button button2">Orders</button></a>
    <a href='http://127.0.0.1:8000/rental/invoice_details/1/'>
        <button class="button button2">Invoices</button></a>
    <a href='http://127.0.0.1:8000/rental/returns_details/1/'>
        <button class="button button2">Return Slips</button></a>
<button class="button button2">Categories</button>
<button class="button button2">Reports</button>
</div>
</body>
</html>